@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/css")
<div class="main">
    <div class="center-block">
        <p>Сlustering of 
        graph vertices</p>
    </div>

</div>
<div class="block1">
    <div class="block1-1">
        <p>Reference Information</p>
    </div>
    <div class="block1-2">
        
            <h2>Clustering methods</h2>
            <p>In terms of the number of clusters, the breakdowns are divided into: <br>
            -methods for dividing by a given number of clusters;<br>
            -methods that determine the number of clusters during the solution of the problem<br>
            Below is a brief description of the two methods (one for each group)  <br>
            </p>
    </div>
</div>


